2_MMinfoGAN_Fsion-Mnist_multi-modal Gaussian Sampler 10 modals.png
3_MMinfoGAN_Fsion-Mnist_multi-modal Gaussian Sampler 10 modals.png
bar_plot_with_error_bars.png
MMinfoGAN_Fsion-Mnist_multi-modal Gaussian Sampler $\mu=0.1$10 modals.png
MMinfoGAN_Fsion-Mnist_multi-modal Gaussian Sampler $\mu=1 10 modals$.png
MMinfoGAN_Fsion-Mnist_multi-modal Gaussian Sampler $\mu=1$10 modals.png
MMinfoGAN_Fsion-Mnist_multi-modal Gaussian Sampler $\mu=1_10 modals$.png
MMinfoGAN_mnist_MultivariateGaussianSampler $\mu=0.1$.png
utils.pyc
Zoom_MMinfoGAN_mnist_MultivariateGaussianSampler $\mu=0.1$.png
.idea/misc.xml
.idea/modules.xml
.idea/tensorflow-generative-model-collections.iml
.idea/workspace.xml
__pycache__/classifier.cpython-36.pyc
__pycache__/MultiModalInfoGAN.cpython-36.pyc
__pycache__/ops.cpython-36.pyc
__pycache__/utils.cpython-36.pyc
checkpoint/multi-gaussian/mu_0.1_sigma0.17_n_distributions10/12/MultiModalInfoGAN_fashion-mnist_batch64/MultiModalInfoGAN.model-39349.data-00000-of-00001
checkpoint/multi-gaussian/mu_0.1_sigma0.17_n_distributions10/12/MultiModalInfoGAN_fashion-mnist_batch64/MultiModalInfoGAN.model-42628.data-00000-of-00001
checkpoint/multi-gaussian/mu_0.1_sigma0.17_n_distributions10/12/MultiModalInfoGAN_fashion-mnist_batch64/MultiModalInfoGAN.model-42628.meta
checkpoint/multi-gaussian/mu_0.1_sigma0.17_n_distributions10/12/MultiModalInfoGAN_fashion-mnist_batch64/MultiModalInfoGAN.model-43721.data-00000-of-00001
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/12/MultiModalInfoGAN_mnist_batch64/checkpoint
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/12/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-43720.data-00000-of-00001
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/12/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-43720.index
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/12/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-43720.meta
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/12/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-4373.data-00000-of-00001
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/12/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-4373.index
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/12/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-4373.meta
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/12/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-5466.data-00000-of-00001.tempstate6119304772610224872
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/MultiModalInfoGAN_mnist_batch64/checkpoint
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-43720.data-00000-of-00001
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-43720.index
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-43720.meta
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-4373.data-00000-of-00001
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-4373.index
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-4373.meta
checkpoint/multi-gaussian/mu_0.1_sigma0.3n_distributions10/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-5466.data-00000-of-00001.tempstate6119304772610224872
checkpoint/uniform/czcc_czrc_rzcc_rzrc/MultiModalInfoGAN_mnist_batch64/checkpoint
checkpoint/uniform/czcc_czrc_rzcc_rzrc/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-43720.data-00000-of-00001
checkpoint/uniform/czcc_czrc_rzcc_rzrc/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-43720.index
checkpoint/uniform/czcc_czrc_rzcc_rzrc/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-43720.meta
checkpoint/uniform/czcc_rzcc_czrc_rzrc/MultiModalInfoGAN_fashion-mnist_batch64/checkpoint
checkpoint/uniform/czcc_rzcc_czrc_rzrc/MultiModalInfoGAN_fashion-mnist_batch64/MultiModalInfoGAN.model-4.data-00000-of-00001
checkpoint/uniform/czcc_rzcc_czrc_rzrc/MultiModalInfoGAN_fashion-mnist_batch64/MultiModalInfoGAN.model-4.index
checkpoint/uniform/czcc_rzcc_czrc_rzrc/MultiModalInfoGAN_fashion-mnist_batch64/MultiModalInfoGAN.model-4.meta
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/checkpoint
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-10.data-00000-of-00001
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-10.index
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-10.meta
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-13.data-00000-of-00001
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-13.index
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-13.meta
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-16.data-00000-of-00001
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-16.index
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-16.meta
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-19.data-00000-of-00001
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-19.index
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-19.meta
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-22.data-00000-of-00001
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-22.index
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-22.meta
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-4.data-00000-of-00001
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-4.index
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-4.meta
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-7.data-00000-of-00001
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-7.index
checkpoint/uniform/MultiModalInfoGAN_mnist_batch64/MultiModalInfoGAN.model-7.meta
classifier_results/classifier_MMinfoGAN_mnist_MultiModalUniformSample_mu_0_sigma_0.15_rzcc_rzrc_accuracy.pkl
classifier_results/classifier_MMinfoGAN_mnist_MultiModalUniformSample_mu_0_sigma_0.15_rzcc_rzrc_accuracy.png
classifier_results/classifier_MMinfoGAN_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.3_czcc_czrc_rzcc_rzrc_accuracy.pkl
classifier_results/classifier_MMinfoGAN_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.3_czcc_czrc_rzcc_rzrc_accuracy.png
classifier_results/classifier_MMinfoGAN_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.3_czcc_rzcc_czrc_rzrc_accuracy.pkl
classifier_results/classifier_MMinfoGAN_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.3_czcc_rzcc_czrc_rzrc_accuracy.png
classifier_results/classifier_MMinfoGAN_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.3_czrc_czcc_rzcc_rzrc_accuracy.pkl
classifier_results/classifier_MMinfoGAN_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.3_czrc_czcc_rzcc_rzrc_accuracy.png
classifier_results/classifier_MMinfoGAN_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.3_rzcc_rzrc_czcc_czrc_accuracy.pkl
classifier_results/classifier_MMinfoGAN_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.3_rzcc_rzrc_czcc_czrc_accuracy.png
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc_accuracy.pkl
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc_accuracy.png
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_czcc_rzcc_czrc_rzrc_accuracy.pkl
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_czcc_rzcc_czrc_rzrc_accuracy.png
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_czrc_czcc_rzcc_rzrc_accuracy.pkl
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_czrc_czcc_rzcc_rzrc_accuracy.png
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_czrc_czcc_rzrc_rzrc_accuracy.pkl
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_czrc_czrc_rzcc_rzcc_accuracy.pkl
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_czrc_czrc_rzcc_rzcc_accuracy.png
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_rzcc_rzrc_accuracy.pkl
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_rzcc_rzrc_accuracy.png
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_rzcc_rzrc_czcc_czrc_accuracy.pkl
classifier_results/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_rzcc_rzrc_czcc_czrc_accuracy.png
classifier_results/edited_labels_mnist_MultivariateGaussianSampler.pkl
classifier_results/edited_labels_mnist_MultivariateGaussianSampler_.pkl
classifier_results/edited_labels_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.3_czcc.pkl
classifier_results/edited_training_set_mnist_MultivariateGaussianSampler.pkl
classifier_results/edited_training_set_mnist_MultivariateGaussianSampler_.pkl
classifier_results/edited_training_set_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.3_czcc.pkl
classifier_results/generated_labels_mnist_MultivariateGaussianSampler.pkl
classifier_results/generated_labels_mnist_MultivariateGaussianSampler_.pkl
classifier_results/generated_labels_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.3_czcc.pkl
classifier_results/generated_training_set_mnist_MultivariateGaussianSampler.pkl
classifier_results/generated_training_set_mnist_MultivariateGaussianSampler_.pkl
classifier_results/generated_training_set_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.3_czcc.pkl
classifier_results_09_07/classifier_MMinfoGAN_fashion-mnist_MultiModalUniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc_accuracy.pkl
classifier_results_09_07/classifier_MMinfoGAN_fashion-mnist_MultiModalUniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc_accuracy.png
classifier_results_09_07/classifier_MMinfoGAN_fashion-mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.17_czcc_czrc_rzcc_rzrc_accuracy.pkl
classifier_results_09_07/classifier_MMinfoGAN_fashion-mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.1_czcc_czrc_rzcc_rzrc_accuracy.pkl
classifier_results_09_07/classifier_MMinfoGAN_fashion-mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.2_czcc_czrc_rzcc_rzrc_accuracy.pkl
classifier_results_09_07/classifier_MMinfoGAN_fashion-mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.2_czcc_czrc_rzcc_rzrc_accuracy.png
classifier_results_09_07/classifier_MMinfoGAN_fashion-mnist_UniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc_accuracy.pkl
classifier_results_09_07/classifier_MMinfoGAN_fashion-mnist_UniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc_accuracy.png
classifier_results_09_07/classifier_MMinfoGAN_mnist_GaussianSample_mu_0.0_sigma_0.2_czcc_czrc_rzcc_rzrc_accuracy.pkl
classifier_results_09_07/classifier_MMinfoGAN_mnist_GaussianSample_mu_0.0_sigma_0.2_czcc_czrc_rzcc_rzrc_accuracy.png
classifier_results_09_07/classifier_MMinfoGAN_mnist_MultiModalUniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc_accuracy.pkl
classifier_results_09_07/classifier_MMinfoGAN_mnist_MultiModalUniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc_accuracy.png
classifier_results_09_07/classifier_MMinfoGAN_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.2_czcc_czrc_rzcc_rzrc_accuracy.pkl
classifier_results_09_07/classifier_MMinfoGAN_mnist_MultivariateGaussianSampler_mu_0.1_sigma_0.2_czcc_czrc_rzcc_rzrc_accuracy.png
classifier_results_09_07/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc_accuracy.pkl
classifier_results_09_07/classifier_MMinfoGAN_mnist_UniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc_accuracy.png
classifier_results_with_confidence/edited_labels_mnist_UniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc.pkl
classifier_results_with_confidence/edited_training_set_mnist_UniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc.pkl
classifier_results_with_confidence/generated_labels_mnist_UniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc.pkl
classifier_results_with_confidence/generated_training_set_mnist_UniformSample_mu_0_sigma_0.15_czcc_czrc_rzcc_rzrc.pkl
logs/multi-gaussian/mu_0.1_sigma0.17_n_distributions10/MultiModalInfoGAN/events.out.tfevents.1531235845.samba-29-139.dyn.huji.ac.il
logs/multi-gaussian/mu_0.1_sigma0.17_n_distributions10/MultiModalInfoGAN/events.out.tfevents.1533736806.w-33-24.w.huji.ac.il
logs/multi-gaussian/mu_0.1_sigma0.17_n_distributions10/MultiModalInfoGAN/events.out.tfevents.1533736895.w-33-24.w.huji.ac.il
logs/multi-gaussian/mu_0.1_sigma0.17_n_distributions10/MultiModalInfoGAN/events.out.tfevents.1533796180.IDAN-A-NMBP
logs/multi-gaussian/mu_0.1_sigma0.3_n_distributions10/MultiModalInfoGAN/events.out.tfevents.1531232433.samba-29-139.dyn.huji.ac.il
logs/multi-gaussian/mu_0.1_sigma0.3_n_distributions10/MultiModalInfoGAN/events.out.tfevents.1531232543.samba-29-139.dyn.huji.ac.il
logs/multi-gaussian/mu_0.1_sigma0.3_n_distributions10/MultiModalInfoGAN/events.out.tfevents.1531232602.samba-29-139.dyn.huji.ac.il
to-upload/IMG_1583.JPG
train_sbatch/train_omi.sh
MMinfoGAN_Fsion-Mnist_multi-modal Gaussian Sampler $\mu=0.1$10 modals.png
MMinfoGAN_Fsion-Mnist_multi-modal Gaussian Sampler $\mu=1 10 modals$.png
MMinfoGAN_Fsion-Mnist_multi-modal Gaussian Sampler $\mu=1$10 modals.png
MMinfoGAN_Fsion-Mnist_multi-modal Gaussian Sampler $\mu=1_10 modals$.png
MMinfoGAN_mnist_MultivariateGaussianSampler $\mu=0.1$.png
Zoom_MMinfoGAN_mnist_MultivariateGaussianSampler $\mu=0.1$.png
